textarea {
    height: 100px;
    width: 400px;
}

/* Floating bar
************************/

/* catfish and 'position:fixed' emulation */
/*#catfish {
    position:fixed;
    bottom:0;
    background-color: red;
    padding:0;
    height: 79px;
    cursor: pointer;
    margin: 0; 
    width:100%;
}
    #catfish h3{
        overflow:hidden;
        background: transparent url(images/catfish.gif) no-repeat left bottom;
        width:279px;
        height:79px;
        float:left
    }

    #catfish ul{
        margin: 30px 16px 0pt 0pt; 
        padding: 0pt; 
        float: right; 
        font-size: x-small; 
        list-style-type: none;
    }

    #catfish ul li a{
        color:#FFCC00;
    }

    #catfish p#catch{
        margin: 40px 0pt 0pt 292px; 
        color: #fff
    }

html {
    padding:0 0 58px 0;
}*/
    
/* Flash messages
************************/

#messages .error,
#messages .success,
#messages .info {
    border: 1px solid;
    padding: 10px;
}

#messages .error {
    border-color: red;
    color: red;
}

#messages .success {
    border-color: green;
    color: green;
}

#messages .info {
    border-color: grey;
    color: grey;
}

/* Event listing
************************/

.events-list {
	padding:0;
	margin:0;
}
	.events-list .event {
		list-style-type:none;
		position:relative;
	}
		.events-list h4 {
			margin-top:0;
		}
		/*.events-list .nontime {
					position:absolute;
					left:55px;
				}
				.events-list .datetime {
					position:absolute;
					left:0;
				}*/
		.events-list .event .time {
			font-size:.75em;
		}
.event-calendar-page {
	display:block;
	width:40px;
	height:40px;
	border:1px solid #ddd;
}
	.event-calendar-page .month,.event-calendar-page .day {
		display:block;
		text-align:center;
	}
	.event-calendar-page .month {
		height:40%;
		background:#2D4DCE;
		color:#fff;
		font-size:0.75em;
	}
	.event-calendar-page .day {
		height:35%;
		margin-top:5%;
	}