textarea {
    height: 100px;
    width: 400px;
}


/* Event listing
************************/
.events-list {
	padding:0;
	margin:0;
}
	.events-list .event {
		list-style-type:none;
		position:relative;
	}
		.events-list h4 {
			margin-top:0;
		}
		/*.events-list .nontime {
					position:absolute;
					left:55px;
				}
				.events-list .datetime {
					position:absolute;
					left:0;
				}*/
		.events-list .event .time {
			font-size:.75em;
		}
.event-calendar-page {
	display:block;
	width:40px;
	height:40px;
	border:1px solid #ddd;
}
	.event-calendar-page .month,.event-calendar-page .day {
		display:block;
		text-align:center;
	}
	.event-calendar-page .month {
		height:40%;
		background:#2D4DCE;
		color:#fff;
		font-size:0.75em;
	}
	.event-calendar-page .day {
		height:35%;
		margin-top:5%;
	}