<div class="events">
  <% unless @events.empty? %>
    <ul class="events-list">
    	<%= render :partial => 'event', :collection => @events %>
  	</ul>
  <% else %>
  	<p class="info">Oops, couldn't find any events. Try being less specific about the type of event.</p>
  <% end %>
</div>