<% unless @events.empty? %>
	<%= render :partial => 'event', :collection => @events %>
<% else %>
	<p class="info">Oops, couldn't find any events. Try being less specific about the type of event.</p>
<% end %>
